<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberQuiz">




	<!-- 내가 풀이한 퀴즈 목록 조회 -->
	<select id="listByAnswerQuizWithPage" resultType="MemberQuizListVO">
		select * from (
			select rownum rn, TMP.* from(
				select *
				 from member_quiz
				where quiz_log_member_id = #{loginId}
				order by contents_title desc
			) TMP
		) where rn between #{pageVO.begin} and #{pageVO.end}
	</select>
	<!-- 풀이퀴즈 카운트 -->
	<select id="countAnswerQuiz" resultType="int">
	    select count(*)
	    from member_quiz
	    where quiz_log_member_id = #{loginId}
	</select>
	
	<!-- 내가 풀이한 퀴즈 정답률 조회 -->
	<select id="listByAnswerQuizRate" resultType="MemberQuizRateVO">
		select *
		 from member_quiz_rate
		where quiz_log_member_id = #{loginId}
		order by contents_title desc
	</select>


	<!-- 내가 등록한 퀴즈 목록 조회 -->
	<select id="listByMyQuizWithPage" resultType="MemberAddQuizListVO">
	select * from (
		select rownum rn, TMP.* from(
			select 
				quiz_id,   quiz_contents_id,  quiz_question_type,
				quiz_question_option1, quiz_question_option2, quiz_question_option3, quiz_question_option4,
				quiz_question,  quiz_answer, quiz_solve_count,
				contents_title, correct_count
			from member_quiz_addlist
			where quiz_creator_id = #{loginId}
			order by quiz_solve_count desc
		) TMP
	) where rn between #{pageVO.begin} and #{pageVO.end}
	</select>
	<!-- 등록퀴즈 카운트 -->
	<select id="countMyQuiz" resultType="int">
	    select count(*)
	    from member_quiz_addlist
	    where quiz_creator_id = #{loginId}
	</select>


</mapper>