<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

	<!-- 등록 -->
	<insert id="insert">
		insert into member(
			member_id, member_pw, member_nickname,
			member_email, member_birth, member_contact,
			member_post, member_address1, member_address2
		)
		values(
			#{memberId},#{memberPw},#{memberNickname},
			#{memberEmail}, #{memberBirth},#{memberContact},
			#{memberPost}, #{memberAddress1}, #{memberAddress2}
		)
	</insert>
	
	<!-- 조회 -->
	<select id="selectList" resultType="memberDto">
		select * from member order by member_join desc
	</select>
	
	<!-- 관리자 제외하고 조회 -->
	<select id="selectListByAdmin" resultType="memberDto">
		select * from member 
		where member_level != '관리자'
		order by member_join desc
	</select>
	
	<!-- 검색 -->
	<select id="selectAdminList" parameterType="map" resultType="MemberDto">
		select * from member
		<where>
			<if test="keyword != null and keyword != ''">
				<choose>
					<when test="type == 'memberId'">
						and member_id LIKE '%' || #{keyword} || '%'
					</when>
					
					<when test="type == 'memberNickname'">
						and member_nickname LIKE '%' || #{keyword} || '%'
					</when>
					
					<when test="type == 'memberLevel'">
						and member_level = #{keyword}
					</when>
				</choose>
			</if>
		</where>
		order by member_join desc
	</select>
	
	
	<!-- 상세조회 -->
	<select id="detail" resultType="memberDto">
		select * from member where member_id = #{memberId}
	</select> 
	
	<!-- 상세조회 by 닉네임 -->
	<select id="detailByNickname" resultType="memberDto">
		select * from member where member_nickname = #{memberNickname}
	</select> 
	
	<!-- 수정(Put) -->
	<update id="update">
		update member
		set member_email=#{memberEmail},
			member_birth=#{memberBirth},
			member_contact=#{memberContact},
			member_post=#{memberPost},
			member_address1=#{memberAddress1},
			member_address2=#{memberAddress2}
		where member_id=#{memberId}
	</update>
	
	<update id="updatePassword">
		update member
		set member_pw=#{memberPw}
		where member_id=#{memberId}
	</update>
	
	
	<update id="updateNickname">
		update member
		set member_nickname=#{memberNickname}
		where member_id=#{memberId}
	</update>
	
	<update id="updatePoint">
		update member
		set member_point=#{memberPoint}
		where member_id=#{memberId}
	</update>
	
	<update id="updateReliabilty">
		update member
		set member_reliability=#{memberReliability}
		where member_id=#{memberId}
	</update>
	
	<update id="updateMemberLevel">
		update member
		set member_level = #{memberLevel}
		where member_id = #{memberId}
	</update>
	
	<!-- 삭제 -->
	<delete id="delete">
		delete member where member_id = #{memberId}
	</delete>
	<update id="updateMemberIcon">
        UPDATE MEMBER SET MEMBER_ICON_NO = #{iconId} WHERE MEMBER_ID = #{memberId}
    </update>

    <update id="deleteMemberIcon">
        UPDATE MEMBER SET MEMBER_ICON_NO = NULL WHERE MEMBER_ID = #{memberId}
    </update>
    
<select id="selectMemberPointInfo" resultType="MemberPointVO">
    SELECT 
        M.member_id        AS "memberId",
        M.member_nick      AS "nickname",
        M.member_point     AS "point",
        M.member_level     AS "level",
        M.member_nick_style AS "nickStyle",

        -- ⭐ 장착 중 아이콘 이미지 경로
        (SELECT I.icon_src
         FROM MEMBER_ICONS MI
         JOIN ICON I ON MI.member_icon_icon = I.icon_id
         WHERE MI.member_icon_member = M.member_id
           AND MI.is_equipped = 'Y'
         FETCH FIRST 1 ROWS ONLY) AS "iconSrc"

    FROM MEMBER M
    WHERE M.member_id = #{memberId}
</select>

<update id="upPoint">
    UPDATE member
    SET member_point = member_point + #{memberPoint}
    WHERE member_id = #{memberId}
</update>


</mapper>
