<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="memberIcon">

    <select id="selectMyIcons" resultType="MemberIconDto">
        SELECT 
            MI.member_icon_id       AS "memberIconId",
            MI.member_icon_member   AS "memberIconMember",
            MI.member_icon_icon     AS "memberIconIcon",
            MI.member_icon_obtain_time AS "memberIconObtainTime",
            MI.is_equipped          AS "isEquipped",

            /* 아이콘 정보 */
            I.icon_name             AS "iconName",
            I.icon_rarity           AS "iconRarity",
            I.icon_src              AS "iconSrc"

        FROM MEMBER_ICONS MI
        JOIN ICON I ON MI.member_icon_icon = I.icon_id
        WHERE MI.member_icon_member = #{memberId}
        ORDER BY 
            CASE I.icon_rarity 
                WHEN 'LEGENDARY' THEN 1
                WHEN 'UNIQUE' THEN 2
                WHEN 'EPIC' THEN 3
                WHEN 'RARE' THEN 4
                WHEN 'COMMON' THEN 5
                ELSE 6 
            END ASC,
            MI.member_icon_obtain_time DESC
    </select>

    <select id="checkUserHasIcon" resultType="int">
        SELECT count(*) 
        FROM MEMBER_ICONS 
        WHERE member_icon_member = #{memberId} 
          AND member_icon_icon = #{iconId}
    </select>

    <insert id="insertMemberIcon">
        INSERT INTO MEMBER_ICONS (
            member_icon_id, 
            member_icon_member, 
            member_icon_icon, 
            member_icon_obtain_time
        )
        VALUES (
            seq_member_icons.nextval, 
            #{memberId}, 
            #{iconId}, 
            SYSDATE
        )
    </insert>

    <update id="unequipAllIcons">
        UPDATE MEMBER_ICONS 
        SET IS_EQUIPPED = 'N'
        WHERE MEMBER_ICON_MEMBER = #{memberId}
    </update>

    <update id="equipIcon">
        UPDATE MEMBER_ICONS
        SET IS_EQUIPPED = 'Y'
        WHERE MEMBER_ICON_MEMBER = #{memberId}
        AND MEMBER_ICON_ICON = #{iconId}
    </update>
    

<select id="selectEquippedIconSrc" parameterType="string" resultType="string">
    SELECT I.ICON_SRC
      FROM MEMBER_ICONS MI
      JOIN ICON I ON MI.MEMBER_ICON_ICON = I.ICON_ID
     WHERE MI.MEMBER_ICON_MEMBER = #{memberId}
       AND MI.IS_EQUIPPED = 'Y'
       AND ROWNUM &lt;= 1   </select>
</mapper>
