<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ranking">

	<select id="selectQuizRanking" resultType="UserRankingVO">
		select * from (
			select
				m.member_id,
				m.member_nickname,
				count(*) as "count"  from quiz_log ql
			join member m on ql.quiz_log_member_id = m.member_id
			where ql.quiz_log_is_correct = 'Y'
    		<![CDATA[
        		and ql.quiz_log_solved_at >= TRUNC(SYSDATE, 'MM')
        		and ql.quiz_log_solved_at < ADD_MONTHS(TRUNC(SYSDATE, 'MM'), 1)
    		]]>
			group by m.member_id, m.member_nickname
			order by "count" desc  )
		<![CDATA[
		where rownum <= #{limit}
		]]>
	</select>
	
	<select id="selectReviewRanking" resultType="UserRankingVO">
		select * from (
    		select
        		m.member_id,
        		m.member_nickname,
        		NVL(SUM(r.review_like), 0) as "count", 
        		count(r.review_no) as "reviewCount"
    		from review r
    		join member m on r.review_writer = m.member_id
    		<![CDATA[
    			where r.review_wtime >= TRUNC(SYSDATE, 'MM')
        		and r.review_wtime < ADD_MONTHS(TRUNC(SYSDATE, 'MM'), 1)
    		]]>
    		group by m.member_id, m.member_nickname
    		order by "count" desc )
        <![CDATA[
        where rownum <= #{limit}
        ]]>
	</select>
	
	<select id="selectHotContentsRanking"
		resultType="ContentsRankingVO">
		select * from (
    		select
        		c.contents_id,
        		c.contents_title,
        		c.contents_poster_path as "contentsPosterPath",
        		count(r.review_no) as "reviewCount" from review r
    		join contents c on r.review_contents = c.contents_id
    		<![CDATA[
    		where r.review_wtime >= SYSDATE - 30 
    		]]>
    		group by c.contents_id, c.contents_title, c.contents_poster_path
    		order by "reviewCount" desc )
        <![CDATA[
        where rownum <= #{limit}
        ]]>
	</select>
	
	<select id="selectRealtimeQuiz" resultType="RealtimeQuizVO">
		select * from (
    		select * from (
    			select
        			c.contents_title,
        			m.member_nickname,
        			TO_CHAR(q.quiz_created_at, 'YYYY-MM-DD HH24:MI:SS') as "quizCreatedAt",
        			c.contents_id,
        			row_number() over(partition by c.contents_id order by q.quiz_created_at desc) as rn
    		from quiz q
    		join contents c on q.quiz_contents_id = c.contents_id
    		join member m on q.quiz_creator_id = m.member_id
    		where q.quiz_status = 'ACTIVE'
    		)
    		where rn = 1
    		order by "quizCreatedAt" desc )
		<![CDATA[
		where rownum <= #{limit}
		]]>
	</select>

</mapper>