<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardResponse">
	
	<insert id="insert">
 		insert into board_response(board_no, member_id, response_type) 
 			values(#{boardNo}, #{memberId}, #{responseType})
 	</insert>
 	
 	<delete id="delete">
 		delete board_response where board_no = #{boardNo} and member_id = #{memberId}
 	</delete>
 	
 	<select id="countForCheck" resultType="int">
 		select count(*) from board_response where member_id = #{memberId} and board_no = #{boardNo}
 	</select>
 	
 	<select id="selectMemberResponse" resultType="string">
 		select response_type from board_response where member_id = #{memberId} and board_no = #{boardNo}
 	</select>
 	
 	<select id="isLike" resultType="int">
 		select count(*) from board_response where member_id = #{memberId} and board_no = #{boardNo} and response_type = '좋아요'
 	</select>
 	
 	<select id="isUnlike" resultType="int">
 		select count(*) from board_response where member_id = #{memberId} and board_no = #{boardNo} and response_type = '싫어요'
 	</select>
 	
 	<select id="countLikeByBoardNo" resultType="int">
 		select count(*) from board_response where board_no = #{boardNo} and response_type = '좋아요'
 	</select>
 	
 	<select id="countUnlikeByBoardNo" resultType="int">
 		select count(*) from board_response where board_no = #{boardNo} and response_type = '싫어요'
 	</select>
 	
 	<!-- 좋아요 누른 글 목록 -->
 	<select id="selectListByMemberId" resultType="int">
 		select board_no from board_response where member_id = #{memberId}
 	</select>

	<update id="updateBoardLike">
		update board set board_like = (
				select count(*) from board_response where board_no = #{boardNo} and response_type = '좋아요'
		)	where board_no = #{boardNo}
	</update>
	
	<update id="updateBoardUnlike">
		update board set board_unlike = (
				select count(*) from board_response where board_no = #{boardNo} and response_type = '싫어요'
		)	where board_no = #{boardNo}
	</update>


</mapper>

